<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Pagina Principal</title>
    <link rel="stylesheet" href="estilos.css">
</head>
<body>
    <div class="contenedor_principal">
       
        <div id="contenedor_carrusel">
            
            <img src="carrusel/imgcarrusel/fondo.jpg" alt="" class="imagencarrusel">
            <nav class="menu_principal">
                <img src="img/logo.jpg" alt="" class="logo">
                <a href="index.html">Inicio</a>&nbsp;&nbsp;
                <a href="peluqueria.php">Peluqueria</a>&nbsp;&nbsp;
                <a href="veterinario.html">Veterinarios</a>&nbsp;&nbsp;
                <a href="Adopcion.html">Adopcion</a>&nbsp;&nbsp;
                <a href="contactosform.html">Contacto</a>&nbsp;&nbsp;
              </nav> 
              <div class="atras">&#60;</div>
              <div class="adelante">&#62;</div>  
              <div class="titulo_index">¡Bienvenidos a Dogs and I: Tu Guía Canina Completa!</div>  
              <script src="carrusel/main.js"></script> 
              <div id="Acercade">
                <p>La página de caninos ofrece información general y consejos relacionados con el cuidado, entrenamiento y bienestar de los perros. Sin embargo, la información proporcionada no debe sustituir el asesoramiento profesional de un veterinario. 
                  No nos hacemos responsables de cualquier consecuencia derivada del uso de la información proporcionada en nuestra página.</p>
                <div id="d2"></div>
              </div>
          <div class="pie_de_pagina">
            <img src="img/logo.jpg" alt="" class="logo">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consequuntur, distinctio sint unde, 
              magni quaerat beatae tenetur odio provident incidunt nostrum aspernatur error, cupiditate eius quam fuga nulla voluptates sunt minus.</p>
              
          </div>
        </div>
        
      </div>
</body>
</html>